* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* background-color: #24252a; */
    color: whitesmoke;
}
body{
    background: linear-gradient( #24252aa9,#24252A);
}

li, a, p{
    text-decoration: none;
}

.nav-brand{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    position: fixed top;
}

.nav-logo {
    margin-right: auto;
}

.nav-links{
    list-style: none;
}

.nav-links li{
    display: inline-block;
    padding: 0 20px;
}

.nav-links li a{
    transition: all 0.3s ease 0s;
}
.nav-citat{
    font-style: italic;
    font-size: x-large;
    padding-right: 60px;
}

.nav-links li a:hover{
    color: blue;
}

.navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.fa{
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.start-rubrik{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.start-h1{
    margin: 40% 0 15% 0;
}

main{
    margin: 5% 15%;
}
.start-projekt-container-1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.start-projekt-container-2{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.projekt-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30%;
}
.projekt-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 30%;
}

footer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px 10%;
    position: fixed bottom;
}

.footer-links{
    list-style: none;
}
.footer-logo{
    margin-right: auto;
}
.footer-copy{
    float: right;
    margin-right: 20px;
}