* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* background-color: #24252a; */
    color: whitesmoke;
}
body{
    background: linear-gradient( #24252aa9,#24252A);
}

h1{
    font-size: 50px;
}
.start-para{
    font-size: 30px;
    margin-bottom: 3%;
}

li, a, p{
    text-decoration: none;
}

.nav-brand{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    position: fixed top;
}

.nav-logo {
    width: 150px;
    height: auto;
    margin-right: auto;
}

.nav-links{
    list-style: none;
    font-size: x-large;
}

.nav-links li{
    display: inline-block;
    padding: 0 20px;
}

.nav-links li a{
    transition: all 0.3s ease 0s;
}
.nav-citat{
    font-style: italic;
    font-size: x-large;
    padding-right: 60px;
}

.nav-links li a:hover{
    color: black;
}

.navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px whitesmoke solid;
}
.navbar-logo{
    padding-bottom: 10px;
}

.fa{
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.start-rubrik{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.start-h1{
    margin: 40% 0 15% 0;
}

main{
    margin: 5% 15%;
}
.start-img{
    border-radius: 50%;
}
.start-projekt-container-1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.start-projekt-container-2{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.projekt-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 29%;
}
.projekt-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 29%;
}
/* Footer  */
footer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px 10%;
    position: fixed bottom;
    border-top: whitesmoke 1px solid;
}

.footer-links{
    list-style: none;
}
.footer-logo{
    margin-right: auto;
}
.footer-copy{
    float: right;
    margin-right: 20px;
}
/* Info */
.about{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.about-me{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 29%;
    line-height: 25px
}
.info-h2{
    margin-bottom: 40px;
}
.info-para{
    margin-bottom: 20px;
}
/* Projekt */
.projekt-container{
    align-items: center;
}

.projekt-h1{
    text-align: center;
    margin-bottom: 3%;
}
.projekt-img-main{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.projekt-img-main-para{
    font-size: 1.3rem;
    margin: 5%;
    text-align: center;
}
.projekt-container-1{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 3% 0%;
    text-align: center;
}
.projekt-container-2{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 3% 0%;
    text-align: center;
}
